/* This file is under copyright. See the COPYING.txt file for more information. */

* {
  font-family: Garamond, serif;
}

button {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 9pt;
}

html {
  background-image: -webkit-gradient(
    radial,
    50% 0, 0,
    50% 0, 700,
    from(#FFFFFF),
    to(#C2E7F2)
  );
  min-height: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

.page-container {
  padding: 0 12px;
}

h1 {
  font-weight: normal;
  font-size: 48pt;
  text-align: center;
  text-shadow: #999999 0px -1px 0px;
  margin: 10px 0 0 0;
}

h2 {
  font-size: 1.2em;
  letter-spacing: 3px;
  text-align: center;
  margin-top: 0;
}

h3 {
  /* Section Title */
  font-size: 18pt;
  font-variant: small-caps;
  font-weight: normal;
  margin-bottom: 0;
  padding-top: 8px;
}

.indent {
  margin: 0 0 0 20px;
  padding: 0;
}

.subtext {
  font-size: .9em;
  opacity: .6;
}

.input-subtext {
  display: block;
  margin: -2px 0 13px 8px;
}

.help-cursor {
  cursor: help;
}

input, textarea {
  font-family: monospace;
  border-radius: 4px;
  -webkit-transition: .8s ease width, height;
}

input {
  height: auto;
  width: 30em;
}

textarea {
  height: 3.6em;
  width: 40em;
}

footer {
  text-align: center;
  min-width: 640px;
  max-width: 800px;
  margin: 20px auto 0 auto;
  padding: 8px 0 30px;
  border-top: 1px solid #888888;
}

footer p {
  margin: 1px;
  padding: 1px;
}
