<!-- This file is under copyright. See the COPYING.txt file for more information. -->

<!DOCTYPE html>
<html>
<head>
	<title>Goodness: Page Blocked</title>
	<link type="text/css" rel="stylesheet" href="../stylesheets/block-page.css" />
</head>

<body>
	<h1><span id="light-one">&mdash; </span> Page Blocked <span id="light-two"> &mdash;</span></h1>
  <script type="text/javascript" src="/viewcontrollers/FlashingTextController.js"></script>
  <script type="text/javascript" src="/viewcontrollers/BlockPageController.js"></script>
</body>
</html>
