<!-- This file is under copyright. See the COPYING.txt file for more information. -->

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Goodness: Options</title>
  <script src="/scripts/DOM-functions.js"></script>
  <script src="/controllers/StoreController.js"></script>
  <link type="text/css" rel="stylesheet" href="/stylesheets/options.css" />
  </head>
<body>
<div class="page-container">
  <h1>Goodness Extension</h1>
  <h2>&mdash; OPTIONS PAGE &mdash;</h2>

  <section>
    <h3>General Settings</h3>
    <p class="subtext">Options that affect Goodness itself.</p>
    
    <div class="indent">
      <button disabled>Nothing here yet.</button>
    </div>
  </section>

  <section id="filter">
    <h3>Filter Settings</h3>
    <p class="subtext" id="filterSectionSubtext">Please separate items with semicolons. (;)</p>
    
    <div class="indent">
      <p>
        <button id="entryModeToggle">Switch entry modes</button>
        <span class="help-cursor subtext" title="Edit Mode lets you change previous filter options. Add Mode lets you quickly add something to the filter.">(?)</span>
      </p>

      <div id="editModeContainer">
        <label>
          <textarea id="phraseList"></textarea>
          <p class="subtext input-subtext">Webpage titles that match phrases in this list will be blocked.</p>
        </label>

        <label>
          <textarea id="urlList"></textarea>
          <p class="subtext input-subtext">URLs (web addresses) that match phrases in this list will be blocked.</p>
        </label>
      </div>

      <div id="addModeContainer">
        <form autocomplete="off">
          <input id="phraseAdd" autocomplete="off"></input>
          <button id="phraseAddButton" disabled>Add</button>
          <label for="phraseAdd" class="subtext input-subtext">Phrases added here are blocked from webpage titles.</label>
        </form>

        <form autocomplete="off">
          <input id="urlAdd" autocomplete="off"></input>
          <button id="urlAddButton" disabled>Add</button>
          <label for="urlAdd" class="subtext input-subtext">Phrases added here are blocked from URLs (web addresses).</label>
        </form>
      </div>

    </div> <!-- /indent -->
  </section>

  <footer>
    <p id="saveStatus">
      Changes are saved automatically after a moment.
    </p>
    <p>
      Built by Tyler Wayne, who can be found at <a href="http://tylerwayne.github.io" target="blank">his website</a>. If you'd like to donate, click <a href="http://tylerwayne.github.io/donate" target="_blank">here</a>.
    </p>
  </footer>

</div> <!-- /page-container -->

<!-- Main script -->
<script type="text/javascript" src="/scripts/options-script.js"></script>
<script src="/viewcontrollers/OptionsPageController.js"></script>
</body>
</html>
